
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <h1>{{title}}</h1>
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/accounts">Accounts</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/signup">Signup</a>         
      </nav>
      <div class="col-sm-8 col-sm-offset-2">
          <alert></alert>
          <router-outlet></router-outlet>
          <app-messages></app-messages>
      </div>
  </div> 
</div>
